.page {
  background-color: #f1f1f1;
  min-height: 100vh;
}
.page nav {
  width: 100%;
  background-color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 3em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.page nav a {
  color: rgb(35, 17, 174);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 60%;
  max-width: 600px;
  min-width: 350px;
  background-color: #fff;
  color: rgb(47, 47, 47);
  padding: 3em;
  border-radius: 0.2em;
}

.form__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-block: 1em;
}

:where(.form__group input) {
  background-color: #eee;
  font-size: 1rem;
  border-radius: 0.4em;
  padding: 0.75em 1em;
  border: 0;
  outline: 0;
  border: 2px solid #eee;
}
:where(.form__group input:focus) {
  outline: none;
  background-color: #fff;
  border: 2px solid rgba(35, 17, 174, 0.418);
}
.form__group input {
  color: #555;
  width: 100%;  
}
.form button {
  padding: 0.5rem 2em;
  margin-top: 1em;
  float: right;
  font-weight: bold;
  letter-spacing: 1px;
}

.err__Message {
  font-size: 0.9rem;
  color: rgb(249, 67, 67);
}
