@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
}

:root{
  --nav-height: 45px;
  --sidebar-width: 200px;
  --bgcolor: rgb(218, 218, 218);
  --nav-color: rgb(224, 116, 77);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
